@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700')

html, body {
    width: 1400px;
    height: 100%;
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #222;
}

a:hover {
    text-decoration: none;
}

/*--- Media Queries ---*/
@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
