@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    width: var(--main-width);
    height: var(--main-height);
    color: var(--main-color);
    font-size: var(--main-font-size);
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
}

.container {
    max-width: var(--main-container-width);
}

ul {
    list-style: none;
    padding-left: var(--ul-padding-left);
}

a {
    color: var(--main-a-color);
    outline: var(--a-outline);
}
a:hover {
    color: var(--main-a-hover-color);
    text-decoration: none;
}

.no-margin {
    margin: 0;
}
.no-x-margin {
    margin-right: 0;
    margin-left: 0;
}
.no-y-margin {
    margin-top: 0;
    margin-bottom: 0;
}
.margin-xl {
    margin: 4rem;
}
.margin-lg {
    margin: 2rem;
}
.margin {
    margin: 1rem;
}
.margin-md {
    margin: 1rem;
}
.margin-sm {
    margin: 0.6rem;
}
.margin-xs {
    margin: 0.3rem;
}

.no-padding {
    padding: 0;
}
.no-x-padding {
    padding-right: 0;
    padding-left: 0;
}
.no-y-padding {
    padding-top: 0;
    padding-bottom: 0;
}
.padding-xl {
    padding: 5rem;
}
.padding-lg {
    padding: 4rem;
}
.padding {
    padding: 3rem;
}
.padding-md {
    padding: 3rem;
}
.padding-sm {
    padding: 2rem;
}
.padding-xs {
    padding: 1rem;
}

footer h1 {
    font-size: var(--footer-h1-font-size);
    font-weight: var(--footer-h1-font-weight);
}
footer, footer a, footer a:hover {
    color: var(--footer-color);
    background-color: var(--footer-background-color);
}
footer .ss-copyright {
    color: var(--footer-copyright-font-size);
}
footer .ss-footer-fa-default {
    font-size: var(--footer-fa-font-size);
    vertical-align: var(--footer-fa-vertical-align);
}
.fa-envelope.ss-fa-original-color {
    color: #ffffff;
}
.fa-facebook.ss-fa-original-color {
    color: var(--facebook-color);
}
.fa-twitter.ss-fa-original-color {
    color: var(--twitter-color);
}
.fa-youtube.ss-fa-original-color {
    color: var(--youtube-color);
}
.fa-linkedin.ss-fa-original-color {
    color: var(--linkedin-color);
}
.fa-github.ss-fa-original-color {
    color: var(--github-color);
}

.navbar {
    background-color: var(--nav-background-color);
}
.navbar-toggler-icon {
    outline: 0;
    color: black;
}
nav .navbar-toggler {
    outline: 0;
}
nav .nav-logo {
    height: var(--nav-logo-height);
}
nav .nav-logo-text {
    color: var(--nav-logo-text-color);
    font-size: var(--nav-logo-text-font-size);
    font-family: var(--nav-logo-text-font);
}
.nav-item {
    color: var(--nav-item-color);
    font-family: var(--nav-item-font);
    font-size: var(--nav-item-font-size);
    font-weight: var(--nav-item-weight);
}
.nav-item .ss-nav-item-side-bar-effect {
    color: var(--nav-item-color);
    display: inline-block;
}
.nav-item .ss-nav-item-side-bar-effect::after {
    content: '';
    display: block;
    width: 0px;
    height: var(--nav-item-side-bar-effect-thickness);
    background: var(--main-effect-color);
    transition: var(--nav-item-side-bar-effect-transition);
}
.nav-item .ss-nav-item-side-bar-effect:hover::after {
    width: 100%;
}

.ss-border {
    border: 1px solid #000;
}
.ss-black-border {
    border: 1px solid #000;
}
.ss-red-border {
    border: 1px solid #ff0000;
}
.ss-blue-border {
    border: 1px solid #0000ff;
}
.ss-green-border {
    border: 1px solid #007700;
}
.ss-yellow-border {
    border: 1px solid #ffff00;
}

.ss-rel-pos {
    position: relative;
}
.ss-abs-pos {
    position: absolute;
}

.ss-vcentered {
    vertical-align: middle;
}
.ss-div-h-centered {
    display: table;
    margin: 0 auto;
}

/* Usage Example: 
   <span>Learn More</span>
   <a class="ss-accordion-toggle collapsed ml-2" data-toggle="collapse"
    href="#collapse-example"></a>
*/
.ss-accordion-toggle {
    font-family: var(--accordion-toggle-font-family);
    font-size: var(--accordion-toggle-font-size);
    vertical-align: var(--accordion-toggle-vertical-align);
}
.ss-accordion-toggle.collapsed:after {
    color: var(--accordion-toggle-collapsed-color);
    content: var(--accordion-toggle-collapsed-content);
}
.ss-accordion-toggle:after {
    color: var(--accordion-toggle-color);
    content: var(--accordion-toggle-content);
}
.ss-accordion-toggle-text {
    font-family: var(--accordion-toggle-text-font);
    font-size: var(--accordion-toggle-text-font-size);
}

.email {
    font-family: var(--email-font);
}

/* fade */
.ss-fadein {
    opacity: 0;
    transform: translate(0, 0);
    transition: var(--fadein-transition);
}
.ss-fadein-to-top {
    opacity: 0;
    transform: translate(0, var(--fadein-to-top-translate));
    transition: var(--fadein-transition);
}
.ss-fadein-to-bottom {
    opacity: 0;
    transform: translate(0, var(--fadein-to-bottom-translate));
    transition: var(--fadein-transition);
}
.ss-fadein-to-right {
    opacity: 0;
    transform: translate(var(--fadein-to-right-translate), 0);
    transition: var(--fadein-transition);
}
.ss-fadein-to-left {
    opacity: 0;
    transform: translate(var(--fadein-to-left-translate), 0);
    transition: var(--fadein-transition);
}
.ss-fadein-slow {
    transition: var(--fadein-transition-slow);
}
.ss-fadein-very-slow {
    transition: var(--fadein-transition-very-slow);
}

.ss-fadein.effect-scroll,
.ss-fadein-to-top.effect-scroll,
.ss-fadein-to-bottom.effect-scroll,
.ss-fadein-to-right.effect-scroll,
.ss-fadein-to-left.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
}

/* iframe */
.ss-responsive-iframe-container {
    position: relative;
    overflow: hidden;
}

.ss-responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* hover effect */
.ss-hover-zoom {
    transition: transform var(--hover-zoom-transition);
}
.ss-hover-zoom.ss-hover-zoom-xs:hover {
    transform: scale(var(--hover-zoom-xs-scale));
}
.ss-hover-zoom.ss-hover-zoom-sm:hover {
    transform: scale(var(--hover-zoom-sm-scale));
}
.ss-hover-zoom.ss-hover-zoom-md:hover {
    transform: scale(var(--hover-zoom-md-scale));
}
.ss-hover-zoom.ss-hover-zoom-lg:hover {
    transform: scale(var(--hover-zoom-lg-scale));
}
.ss-hover-zoom.ss-hover-zoom-xl:hover {
    transform: scale(var(--hover-zoom-xl-scale));
}


/* shadow */
.ss-box-shadow-xs {
    box-shadow: 0px 0px 4px var(--box-shadow-color);
}
.ss-box-shadow-sm {
    box-shadow: 0px 0px 5px var(--box-shadow-color);
}
.ss-box-shadow-md {
    box-shadow: 0px 0px 8px var(--box-shadow-color);
}
.ss-box-shadow-lg {
    box-shadow: 0px 0px 12px var(--box-shadow-color);
}
.ss-box-shadow-xl {
    box-shadow: 0px 0px 20px var(--box-shadow-color);
}
.ss-box-shadow-xs-to-bottom-right {
    box-shadow: 1px 1px 4px var(--box-shadow-color);
}
.ss-box-shadow-sm-to-bottom-right {
    box-shadow: 2px 2px 5px var(--box-shadow-color);
}
.ss-box-shadow-md-to-bottom-right {
    box-shadow: 4px 4px 8px var(--box-shadow-color);
}
.ss-box-shadow-lg-to-bottom-right {
    box-shadow: 6px 6px 12px var(--box-shadow-color);
}
.ss-box-shadow-xl-to-bottom-right {
    box-shadow: 8px 8px 20px var(--box-shadow-color);
}
.ss-box-shadow-xs-to-bottom-left {
    box-shadow: -1px 1px 4px var(--box-shadow-color);
}
.ss-box-shadow-sm-to-bottom-left {
    box-shadow: -2px 2px 5px var(--box-shadow-color);
}
.ss-box-shadow-md-to-bottom-left {
    box-shadow: -4px 4px 8px var(--box-shadow-color);
}
.ss-box-shadow-lg-to-bottom-left {
    box-shadow: -6px 6px 12px var(--box-shadow-color);
}
.ss-box-shadow-xl-to-bottom-left {
    box-shadow: -8px 8px 20px var(--box-shadow-color);
}

/* Images */
.ss-filling-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ss-overlayed-filling-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ss-container-on-overlayed-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/* carousel */
.carousel-item .ss-fitting-img-top-focus {
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.carousel-item .ss-fitting-img-center-focus {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.carousel-item .ss-fitting-img-bottom-focus {
    width: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}


