#app {
    background-color: var(--main-first-background-color);
    background-image: linear-gradient(147deg, var(--main-first-background-color) 0%, var(--main-second-background-color) 74%);
}

footer hr {
    padding-top: 0;
    margin-top: 0;
    width: 75%;
}

.section-main-header {
    font-size: 2.4rem;
}

.section-sub-header {
    font-size: 1.6rem;
}

.section-special-header {
    font-size: 1.2rem;
}

.page-title-bar-container {
    width: 100%;
    height: 240px;
}

.contact-us hr {
    width: 75%;
}

.fa-envelope {
    color: white;
}
.fa-map-marker-alt {
    color: var(--dark-accent-color);
}
.fa-ticket-alt {
    color: black;
    rotate: 120deg;
    transition: 1.0s;
}

/* index.html */
#index-page #custom-carousel-main .carousel-item img {
    max-height: 640px;
}

#index-page .bg-container-1 {
    background-image: -moz-linear-gradient(top, transparent 10%, var(--first-accent-color) 40%, var(--first-accent-color) 60%, transparent 90%);
    /*
    background-image: -webkit-linear-gradient(0, transparent 40%, var(--first-accent-color) 0%, var(--first-accent-color) 80%, transparent 0%);
    background-image: -moz-linear-gradient(0, transparent 40%, var(--first-accent-color) 0%, var(--first-accent-color) 80%, transparent 0%);
    background-image: linear-gradient(0, transparent 40%, var(--first-accent-color) 0%, var(--first-accent-color) 80%, transparent 0%);
    */
}

#index-page .bg-container-2 {
    /*
    background-image: -webkit-linear-gradient(0, transparent 40%, var(--first-accent-color) 0%, var(--first-accent-color) 80%, transparent 0%);
    background-image: -moz-linear-gradient(0, transparent 40%, var(--first-accent-color) 0%, var(--first-accent-color) 80%, transparent 0%);
    background-image: linear-gradient(0, transparent 40%, var(--first-accent-color) 0%, var(--first-accent-color) 80%, transparent 0%);
    */
    background-image: -moz-linear-gradient(top, transparent 10%, var(--first-accent-color) 40%, var(--first-accent-color) 60%, transparent 90%);
}

#index-page .class-panels {
    width: 576px;
}

#index-page .class-panels .class-panel-img-container {
    width: 100%;
    height: 200px;
}

#index-page .class-panels .class-panel-img-thin-container {
    width: 100%;
    height: 160px;
}

/* classes.html */
#classes-page .custom-container-on-overlayed-img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#classes-page .class-panel {
    background-color: var(--main-effect-color-sm-opacity);
}

#classes-page .class-panel .subclass-panel {
    background-color: var(--second-accent-color);
}

/* instructors.html */
#custom-carousel-thumbnails .carousel-item {
    transition: 0.7s;
}

#custom-carousel-thumbnails .carousel-item img {
    width: 100%;
    height: 480px;
    max-width: 576px;
    object-fit: cover;
    object-position: 50% 0;
}

#custom-carousel-thumbnails .carousel-indicators {
    margin-left: auto;
    margin-right: auto;
}

#custom-carousel-thumbnails .carousel-indicators div {
    background-color: #fff;
}

#custom-carousel-thumbnails .offset-to-push-out-thumbnails {
    height: 160px;
}

#custom-carousel-thumbnails .carousel-indicators li {
    position: relative;
    width: 100px;
    height: 100px;
}

#custom-carousel-thumbnails .carousel-indicators div {
    width: 100%;
    height: 100%;
}

#custom-carousel-thumbnails .carousel-indicators img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
}

#custom-carousel-thumbnails .carousel-inner .bg-color-offset {
    background-image: linear-gradient(left, transparent 240px, var(--bright-accent-color) 240px, var(--second-accent-color) 100%);
    background-image: -webkit-linear-gradient(left, transparent 240px, var(--bright-accent-color) 240px, var(--second-accent-color) 100%);
    background-image: -moz-linear-gradient(left, transparent 240px, var(--bright-accent-color) 240px, var(--second-accent-color) 100%);
    width: 100%;
}

/* contacts.html width="640" height="480"*/
#contacts-page .google-map-container {
    width: 100%;
    height: 100%;
    min-height: 480px;
}


/* media query */
@media (max-width: 576px) {
    #index-page .class-panels {
        width: 100%;
    }
    #index-page .class-panels .class-panel-img-thin-container {
        height: 200px;
    }
}
