:root {
    --h1-font: Impact, Fantasy, 'Arial Black', Sans-serif;
    --h1-color: #333333;
    --h2-font: 'Verdana', 'Tahoma', 'Arial Black', Sans-serif;
    --h2-color: #666666;;
    --placeholder-font-size: 0.8rem;
}

#app {
    background-color: var(--main-first-background-color);
    background-image: linear-gradient(147deg, var(--main-first-background-color) 0%, var(--main-second-background-color) 74%);
}

img {
    text-indent: 100%;
    overflow: hidden;
}

input.form-control {
    border: 0;
    border-bottom: 1px solid var(--first-accent-color);
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
input.form-control:focus {
    border: 0;
    border-bottom: 0;
    border-radius: 0;
    background-color: var(--main-theme-color-sm-opacity);
    box-shadow: none;
}
::placeholder {
    font-size: var(--placeholder-font-size);
}
::-webkit-input-placeholder {
    font-size: var(--placeholder-font-size);
}
::-moz-placeholder {
    font-size: var(--placeholder-font-size);
}
:-moz-placeholder {
    font-size: var(--placeholder-font-size);
}
textarea {
    border: 1px solid var(--first-accent-color);
    background-color: transparent;
    width: 100%;
    height: 160px;
    resize: none;
}
textarea:focus {
    border: 0;
    background-color: var(--main-theme-color-sm-opacity);
}

footer hr {
    padding-top: 0;
    margin-top: 0;
    width: 75%;
}

.section-main-header {
    color: var(--h1-color);
    font-family: var(--h1-font);
    font-size: 2.4rem;
 }
.section-sub-header {
    color: var(--h2-color);
    font-family: var(--h2-font);
    font-size: 1.6rem;
}
.section-special-header {
    font-size: 1.2rem;
}

.notation-text {
    color: var(--dark-accent-color);
}

.page-title-bar-container {
    width: 100%;
    height: 240px;
}
.page-title-bar-container h1 {
    color: #333333;
    font-family: var(--h1-font);
    text-shadow: 0 0 12px white;
}
.page-title-bar-container img {
    opacity: 0.75;
}

.contact-us hr {
    width: 75%;
}

.fa-envelope {
    color: var(--main-color);
}
.fa-map-marker-alt {
    color: var(--main-color);
}
.fa-ticket-alt {
    color: var(--main-color);
}

/* TODO: Not working with chrome. */
.fa-ticket-alt.free-ticket {
    display: inline-block;
    color: var(--main-color);
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
}

/* index.html */
#index-page #custom-carousel-main .carousel-caption h1 {
    font-family: Impact, Fantasy, 'Arial Black', Sans-serif;
    text-shadow: 0 0 12px var(--text-shadow-color);
}

#index-page #custom-carousel-main .carousel-caption p {
    font-family: 'Verdana', 'Tahoma', 'Arial Black', Sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
    text-shadow: 0 0 6px var(--text-shadow-color);
}

#index-page #custom-carousel-main .carousel-item img {
    max-height: 640px;
}

#index-page .bg-container-1 {
    background-image: linear-gradient(top, transparent 10%, var(--first-accent-color) 40%, var(--first-accent-color) 60%, transparent 90%);
    background-image: -webkit-linear-gradient(top, transparent 10%, var(--first-accent-color) 40%, var(--first-accent-color) 60%, transparent 90%);
    background-image: -moz-linear-gradient(top, transparent 10%, var(--first-accent-color) 40%, var(--first-accent-color) 60%, transparent 90%);
}

#index-page .bg-container-2 {
    background-image: linear-gradient(top, transparent 10%, var(--first-accent-color) 40%, var(--first-accent-color) 60%, transparent 90%);
    background-image: -webkit-linear-gradient(top, transparent 10%, var(--first-accent-color) 40%, var(--first-accent-color) 60%, transparent 90%);
    background-image: -moz-linear-gradient(top, transparent 10%, var(--first-accent-color) 40%, var(--first-accent-color) 60%, transparent 90%);
}

#index-page .class-panels {
    width: 576px;
}

#index-page .class-panels .class-panel-img-container {
    width: 100%;
    height: 200px;
}

#index-page .class-panels .class-panel-img-thin-container {
    width: 100%;
    height: 160px;
}

/* classes.html */
#classes-page .class-category-panel h3 {
    font-family: var(--h1-font);
}

#classes-page .custom-container-on-overlayed-img {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#classes-page .class-category-panel {
    background-color: var(--main-theme-color-sm-opacity);
}

#classes-page .class-category-panel .class-panel {
    background-color: var(--main-theme-color-md-opacity);
}

#classes-page .class-category-panel img {
    height: 320px;
}

#classes-page .class-category-panel .class-panel img {
    height: 200px;
}

#classes-page .class-category-panel .class-panel h4 {
    font-family: var(--h1-font);
    font-size: 1rem;
}

#classes-page .class-category-panel .btn-primary {
    padding: 4px 40px;
    border-radius: 16px;
    background-color: var(--dark-accent-color);
    border: 0;
    transition: .3s;
}

#classes-page .class-category-panel .btn-primary:hover {
    background-color: var(--main-effect-color);
    border: 0;
    transition: .3s;
}

/* instructors.html */
#instructors-page .instructor-title {
    font-family: var(--h1-font);
    color: var(--dark-accent-color);
}

#custom-carousel-thumbnails .carousel-item {
    transition: 0.7s;
}

#custom-carousel-thumbnails .carousel-item img {
    width: 100%;
    height: 480px;
    max-width: 576px;
    object-fit: cover;
    object-position: 50% 0;
}

#custom-carousel-thumbnails .carousel-indicators {
    margin-left: auto;
    margin-right: auto;
}

#custom-carousel-thumbnails .carousel-indicators div {
    background-color: #fff;
}

#custom-carousel-thumbnails .offset-to-push-out-thumbnails {
    height: 160px;
}

#custom-carousel-thumbnails .carousel-indicators li {
    position: relative;
    width: 100px;
    height: 100px;
}

#custom-carousel-thumbnails .carousel-indicators div {
    width: 100%;
    height: 100%;
}

#custom-carousel-thumbnails .carousel-indicators img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
}

#custom-carousel-thumbnails .carousel-inner .bg-color-offset {
    display: inline-block;
    background-image: linear-gradient(left, transparent 240px, var(--main-theme-color-sm-opacity) 240px, var(--main-theme-color-lg-opacity) 100%);
    background-image: -webkit-linear-gradient(left, transparent 240px, var(--main-theme-color-sm-opacity) 240px, var(--main-theme-color-lg-opacity) 100%);
    background-image: -moz-linear-gradient(left, transparent 240px, var(--main-theme-color-sm-opacity) 240px, var(--main-theme-color-lg-opacity) 100%);
    width: 100%;
}

/* contacts.html width="640" height="480"*/
#contacts-page .google-map-container {
    width: 100%;
    height: 100%;
    min-height: 480px;
}

#contacts-page .btn-primary {
    padding: 4px 40px;
    border-radius: 16px;
    background-color: var(--dark-accent-color);
    border: 0;
    transition: .3s;
}

#contacts-page .btn-primary:hover {
    background-color: var(--main-effect-color);
    border: 0;
    transition: .3s;
}


/* media query */
@media (max-width: 576px) {
    #index-page .class-panels {
        width: 100%;
    }
    #index-page .class-panels .class-panel-img-thin-container {
        height: 200px;
    }
}
