/* Must be linked before linking other non-3rd party css files. */

:root {
    /* fonts */
    /* Sans-serif, Helvetica, Arial, Fantasy */
    --main-font: 'Open Sans', Robot, Helvetica, Arial, Sans-serif;
    --nav-logo-text-font: Impact, Fantasy, 'Arial Black', Sans-serif;
    --nav-item-font: Impact, Fantasy, 'Arial Black', Sans-serif;
    --email-font: 'Lucida Console', 'Lucida Sans Typewriter', 'Andale Mono', Consolas, 'Courier', 'Courier New', Monospace;
    --notation-font: var(--main-font);
    --accordion-toggle-text-font: var(--main-font-family);

    --main-width: 100%;
    --main-height: 100%;
    --main-container-width: 1400px;
    --main-color: #333333;
    --main-a-hover-color: #020202;
    --main-a-color: #020202;
    --main-font-size: medium;
    --main-font-weight: 100;
    --main-effect-color: #fec400;
    --main-effect-color-md-opacity: rgba(254, 196, 0, .5);
    --main-effect-color-sm-opacity: rgba(254, 196, 0, .2);
    --main-first-background-color: rgba(255, 165, 0, .15);
    --main-second-background-color: rgba(255, 165, 0, .75);
    --first-accent-color: rgba(255, 165, 0, 1);
    --second-accent-color: rgba(180, 32, 0, .5);
    --bright-accent-color: rgba(254, 196, 0, .5);
    --dark-accent-color: rgba(255, 69, 0, 1);
    --a-font-color: #020202;
    --a-outline: 0; /* 0, 2px dashed black, etc. */
    --ul-padding-left: 0;
    --footer-background-color: #333333;
    --footer-color: #707070;
    --footer-h1-font-size: 1.2rem;
    --footer-h1-font-weight: none;
    --footer-fa-font-size: 30px;
    --footer-fa-vertical-align: middle;
    --nav-background-color: #333333;
    --nav-logo-height: 40px;
    --nav-logo-text-font-size: 1.4rem;

    --nav-item-color: #d5d5d5;
    --nav-item-font-size: 1.2rem;
    --nav-item-weight: bold;
    --nav-item-side-bar-effect-thickness: 4px;
    --nav-item-side-bar-effect-transition: 0.2s;
    --facebook-color: #1877f2;
    --twitter-color: #1da1f2;
    --youtube-color: #ff0000;
    --linkedin-color: #007bb5;
    --github-color: #000;

    /* fade */
    --fadein-to-top-translate: 400px;
    --fadein-to-bottom-translate: -400px;
    --fadein-to-right-translate: -400px;
    --fadein-to-left-translate: 400px;
    --fadein-transition: 1.0s;
    --fadein-transition-slow: 2.0s;
    --fadein-transition-very-slow: 5.0s;

    /* hover */
    /* Usage : add ss-hover-zoom and ss-hover-zoom-xx */
    --hover-zoom-transition: 0.3s;
    --hover-zoom-xs-scale: 1.02;
    --hover-zoom-sm-scale: 1.05;
    --hover-zoom-md-scale: 1.1;
    --hover-zoom-lg-scale: 1.2;
    --hover-zoom-xl-scale: 1.5;

    /* shadow */
    --box-shadow-color: #555555;

    /* Images */

    /* icon */
    --accordion-toggle-font-family: 'FontAwesome';
    --accordion-toggle-collapsed-content: '\f101';
    --accordion-toggle-content: '\f103';
    --accordion-toggle-font-size: 1.2rem;
    --accordion-toggle-font-weight: bold;
    --accordion-toggle-collapsed-color: var(--second-accent-color);
    --accordion-toggle-color: var(--second-accent-color);
    --accordion-toggle-vertical-align: middle;
    --accordion-toggle-text-font-size: var(--main-font-size);
}
