<script type="text/x-template" id="classes--content">
<div id="classes-page">
  <div class="page-title-bar-container ss-rel-pos">
    <img src="../static/img/placeholder.png" class="ss-overlayed-filling-img">
    <div class="text-center ss-container-on-overlayed-img">
      <h1 class="display-4">Classes</h1>
    </div>
  </div>

  <div class="container mt-5 ">
    <div class="row">
      {% raw %}
      <template v-for="(category, i) in class_categories" :key="i">
        <div class="col-md-6 col-sm-12">
          <div class="card class-category-panel mx-auto margin-md ss-box-shadow-sm-to-bottom-right ss-fadein-to-top">
            <div class="card-body no-margin no-padding">
              <div class="row no-margin">
                <div class="col-md-6 col-sm-12 no-padding">
                  <img class="ss-filling-img" :src="category.image">
                </div>
                <div class="col-md-6 col-sm-12 padding-xs">
                  <h3>{{ category.name }}</h3>
                  <p class="small"><u>{{ category.ages }}</u></p>
                  <p class="small">
                    <i class="far fa-building ss-vcentered mr-2"></i>{{ category.building }}<br>
                    <i class="fas fa-map-marker-alt mr-2"></i>{{ category.address }}<br>
                  </p>
                  <a class="ss-accordion-toggle collapsed" data-toggle="collapse" :href="'#collapse-class-cards-' + i">
                    <span class="ss-accordion-toggle-text small font-weight-bold mr-2">Learn More</span>
                  </a>
                </div>
                <div class="col-12">
                  <div class="collapse" :id="'collapse-class-cards-' + i">
                    <template v-for="(cls, j) in category.classes" :key="j">
                    <div class="card card-body class-panel no-padding margin-md ss-box-shadow-xs-to-bottom-right ss-hover-zoom ss-hover-zoom-sm">
                      <div class="row no-margin">
                        <div class="col-md-6 col-sm-12 no-padding">
                          <img class="ss-filling-img" src="../static/img/placeholder.png">
                        </div>
                        <div class="col-md-6 col-sm-12 padding-xs small">
                          <h4>{{ cls.name }}</h4>
                          <p><u>{{ cls.ages }}</u></p>
                          <i class="far fa-clock ss-vcentered mr-1"></i>
                          <template v-for="(day, j) in cls.days" :key="j">
                          <span>{{ cls.hours[j] }} {{ day }}
                            <template v-if="j < cls.days.length - 1">,&nbsp;</template>
                            </template>
                          </span><br>
                          <template v-for="(instructor, j) in cls.instructors" :key="j">
                          <span><i class="far fa-user ss-vcentered mr-2"></i>{{ instructor }}
                            <template v-if="j < cls.instructors.length - 1">,&nbsp;</template>
                          </span><br>
                          <span><i class="fas fa-ticket-alt mr-1"></i>{{ cls.fee }}</span>
                          <template v-if="cls.discount_fee !== ''">
                          <br><span class="small notation-text font-weight-bold">{{ cls.discount_fee }} with 10 lessons ticket</span>
                          </template>
                        </div>
                      </div>
                    </div>
                    </template>
                    <div class="mx-auto ss-div-h-centered mt-4 mb-3">
                      <router-link to="/contacts/#">
                        <button class="btn btn-primary btn-sm font-weight-bold">Interested in Free Trial</button>
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </template>
      {% endraw %}
    </div>
  </div>
</div>
</script>

{% raw %}
<script>
  var Classes = {
    template: "#classes--content",
    data: function () {
      return {
        class_categories: [
          {
            name: 'Hip-Hop',
            image: "../static/img/hiphop-class.png",
            category: 'hiphop',
            instructors: ['Noriko T Rovner', 'Jocel Taylor'],
            ages: 'Age 2 - Adult',
            building: 'Harmony Club',
            address: '1777 Saratoga Ave., San Jose',
            description: 'blur blur blur',
            classes: [
              {
                name: 'Mini Hip-Hop Rythm Training',
                instructors: ['Noriko T Rovner'],
                ages: 'Age 2 - 4',
                days: ['Fri.'],
                hours: ['4:00 - 5:00pm'],
                fee: '$15/lesson',
                discount_fee: '$13/lesson',
              },
              {
                name: 'Junior Hip-Hop',
                instructors: ['Noriko T Rovner'],
                ages: 'Age 5 - 9',
                days: ['Fri.'],
                hours: ['5:00 - 6:00pm'],
                fee: '$15/lesson',
                discount_fee: '$13/lesson',
              },
              {
                name: 'Hip-Hop',
                instructors: ['Jocel Taylor'],
                ages: 'Age 8 - Adult',
                days: ['Sun.'],
                hours: ['9:00 - 10:00am'],
                fee: '$15/lesson',
                discount_fee: '$13/lesson',
              },
            ],
          },
          {
            name: 'Ballet',
            image: "../static/img/ballet-class.jpg",
            category: 'ballet',
            instructors: ['Megumi Riel', 'Katy Sun', 'Lina'],
            ages: 'Age 3 - 10',
            building: 'Harmony Club',
            address: '1777 Saratoga Ave., San Jose',
            description: 'blur blur blur',
            classes: [
              {
                name: 'Mini Ballet',
                instructors: ['Megumi Riel'],
                ages: 'Age 3 - 5',
                days: ['Wed.'],
                hours: ['3:20 - 4:20pm'],
                fee: '$15/lesson',
                discount_fee: '$13/lesson',
              },
              {
                name: 'Petite Ballet',
                instructors: ['Megumi Riel'],
                ages: 'Age 6 - 10',
                days: ['Wed.'],
                hours: ['4:30 - 6:00pm'],
                fee: '$15/lesson',
                discount_fee: '$13/lesson',
              },
            ],
          },
          {
            name: 'Jazz',
            image: "../static/img/ballet-class.jpg",
            category: 'jazz',
            instructors: ['Noriko T Rovner'],
            ages: 'Age 5 - Adult',
            building: 'Akiyama Wellness Center',
            address: '110 Jackson St., San Jose',
            description: 'blur blur blur',
            classes: [
              {
                name: 'Jazz Funk',
                instructors: ['Noriko T Rovner'],
                ages: 'Age 7 - Adult',
                days: ['Sat.'],
                hours: ['12:10 - 1:10pm'],
                fee: '$15/lesson',
                discount_fee: '$13/lesson',
              },
              {
                name: 'Jazz Ballet + Ballet Technique',
                instructors: ['Noriko T Rovner'],
                ages: 'Age 5 - 8',
                days: ['Sat.'],
                hours: ['1:15 - 2:45pm'],
                fee: '$19/lesson',
                discount_fee: '',
              },
            ],
          },
          {
            name: 'Fitness',
            image: "../static/img/hothura-class.JPG",
            category: 'fitness',
            instructors: ['Noriko T Rovner'],
            ages: 'Age 7 - Adult',
            building: 'Harmony Club',
            address: '1777 Saratoga Ave., San Jose',
            description: 'blur blur blur',
            classes: [
              {
                name: 'Hot Hula Fitness',
                instructors: ['Noriko T Rovner'],
                ages: 'Age 7 - Adult',
                days: ['Sun.'],
                hours: ['8:00 - 9:00am'],
                fee: '$15/lesson',
                discount_fee: '$13/lesson',
              },
            ],
          },
          {
            name: 'Class for Age 50+',
            image: "../static/img/zumba-class.JPG",
            category: 'senior',
            instructors: ['Noriko T Rovner'],
            ages: 'Any ages',
            building: 'Akiyama Wellness Center',
            address: '110 Jackson St., San Jose',
            description: 'blur blur blur',
            classes: [
              {
                name: 'Zumba Gold',
                instructors: ['Noriko T Rovner'],
                ages: 'Any ages',
                days: ['Mon.', 'Fri.'],
                hours: ['10:00 - 11:00a', '9:00 - 10:00am'],
                fee: '$7/lesson',
                discount_fee: '',
              },
              {
                name: 'Hip-Hop Gold',
                instructors: ['Noriko T Rovner'],
                ages: 'Any ages',
                days: ['Mon.'],
                hours: ['11:00 - 12:00pm'],
                fee: '$10/lesson',
                discount_fee: '',
              },
            ],
          },
        ]
      };
    },
  };
</script>
{% endraw %}
