{% raw %}
<script type="text/x-template" id="contacts--content">
<div id="contacts-page">
  <div class="page-title-bar-container ss-rel-pos">
    <img src="../static/img/placeholder.png" class="ss-overlayed-filling-img" :alt="alts['header-img']">
    <div class="text-center ss-container-on-overlayed-img">
      <h1 class="display-4">Contacts</h1>
    </div>
  </div>

  <div class="container">
    <div class="row padding">
      <div class="col-lg-6 col-md-12 my-auto text-wrap mx-auto">
        <div class="ss-div-h-centered ss-fadein ss-fadein-slow">
          <h1 class="section-main-header">Try Us For Free!</h1>
          <hr>
          <div class="mt-4 mb-4">
            <p>
              <i class="fas fa-envelope mr-2 mt-1 ss-v-centered"></i>
              <span class="email font-weight-bold">genkicrewdanceschool@gmail.com</span>
              <a type="button" @click="doCopy"><i class="far fa-copy ss-vcentered" title="Copy Genki's E-mail Address"></i></a>
              <br><span class="small notation-text font-weight-bold">We can respond in Japanese.</span>
            </p>
            <p>
              <i class="fas fa-map-marker-alt mr-2"></i>
              <span class="font-weight-normal">Harmony Club, 1777 Saratoga Ave., San Jose</span><br>
              <i class="fas fa-map-marker-alt mr-2"></i><span class="font-weight-normal">Akiyama Wellness Center, 110 Jackson St., San Jose</span><br>
              <span class="small notation-text font-weight-bold">Studio location differs depending on a class.<br>See <router-link to="/classes/#"><u class="notation-text">Classes</u></router-link> page for more details.</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="ss-responsive-iframe-container google-map-container ss-fadein ss-fadein-slow">
          <iframe class="ss-responsive-iframe" style="position:relative; top:-46px; border:none;" src="https://www.google.com/maps/d/u/0/embed?mid=1f6iMSAhv_MRUCHU0BOJY960Fjr1MiwrR"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
</script>
{% endraw %}

<script>
  var Contacts = {
    template: "#contacts--content",
    data: function() {
      return {
        alts: {
          'header-img': "Be free to contact us and try our free lesson!ぜひ無料体験レッスンにお越し下さい。日本語対応も可能です。",
        },
        message: 'genkicrewdanceschool@gmail.com',
      };
    },
    methods: {
      doCopy: function() {
        this.$copyText(this.message).then(function(e) {
          alert('Copied e-mail address!');
          console.log(e);
        }, function(e) {
          alert('Failed to copy e-mail address.');
          console.log(e);
        });
      },
    },
  };
</script>

